---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/orgs/honeypot-challenges/repos?access_token=thetokenizator
    body:
      encoding: UTF-8
      string: '{"name":"duksis_fe_001","description":"Frontend Challenge v1 Hugo Duksis","private":true,"has_wiki":false,"homepage":"https://www.honeypot.io","has_issues":true,"has_downloads":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token thetokenizator
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1452083274'
      Etag:
      - '"754d76bbb9df517ca82225d660ee1d75"'
      X-Oauth-Scopes:
      - delete_repo, gist, repo, user, write:org
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      Location:
      - https://api.github.com/repos/honeypot-challenges/duksis_fe_001
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":49131522,"name":"duksis_fe_001","full_name":"honeypot-challenges/duksis_fe_001","owner":{"login":"honeypot-challenges","id":15892911,"avatar_url":"https://avatars.githubusercontent.com/u/15892911?v=3","gravatar_id":"","url":"https://api.github.com/users/honeypot-challenges","html_url":"https://github.com/honeypot-challenges","followers_url":"https://api.github.com/users/honeypot-challenges/followers","following_url":"https://api.github.com/users/honeypot-challenges/following{/other_user}","gists_url":"https://api.github.com/users/honeypot-challenges/gists{/gist_id}","starred_url":"https://api.github.com/users/honeypot-challenges/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/honeypot-challenges/subscriptions","organizations_url":"https://api.github.com/users/honeypot-challenges/orgs","repos_url":"https://api.github.com/users/honeypot-challenges/repos","events_url":"https://api.github.com/users/honeypot-challenges/events{/privacy}","received_events_url":"https://api.github.com/users/honeypot-challenges/received_events","type":"Organization","site_admin":false},"private":true,"html_url":"https://github.com/honeypot-challenges/duksis_fe_001","description":"Frontend
        Challenge v1 Hugo Duksis","fork":false,"url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001","forks_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/forks","keys_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/keys{/key_id}","collaborators_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/teams","hooks_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/hooks","issue_events_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/issues/events{/number}","events_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/events","assignees_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/assignees{/user}","branches_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/branches{/branch}","tags_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/tags","blobs_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/git/refs{/sha}","trees_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/git/trees{/sha}","statuses_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/statuses/{sha}","languages_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/languages","stargazers_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/stargazers","contributors_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/contributors","subscribers_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/subscribers","subscription_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/subscription","commits_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/commits{/sha}","git_commits_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/git/commits{/sha}","comments_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/comments{/number}","issue_comment_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/issues/comments{/number}","contents_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/contents/{+path}","compare_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/compare/{base}...{head}","merges_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/merges","archive_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/downloads","issues_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/issues{/number}","pulls_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/pulls{/number}","milestones_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/milestones{/number}","notifications_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/labels{/name}","releases_url":"https://api.github.com/repos/honeypot-challenges/duksis_fe_001/releases{/id}","created_at":"2016-01-06T11:36:37Z","updated_at":"2016-01-06T11:36:37Z","pushed_at":"2016-01-06T11:36:37Z","git_url":"git://github.com/honeypot-challenges/duksis_fe_001.git","ssh_url":"git@github.com:honeypot-challenges/duksis_fe_001.git","clone_url":"https://github.com/honeypot-challenges/duksis_fe_001.git","svn_url":"https://github.com/honeypot-challenges/duksis_fe_001","homepage":"https://www.honeypot.io","size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"organization":{"login":"honeypot-challenges","id":15892911,"avatar_url":"https://avatars.githubusercontent.com/u/15892911?v=3","gravatar_id":"","url":"https://api.github.com/users/honeypot-challenges","html_url":"https://github.com/honeypot-challenges","followers_url":"https://api.github.com/users/honeypot-challenges/followers","following_url":"https://api.github.com/users/honeypot-challenges/following{/other_user}","gists_url":"https://api.github.com/users/honeypot-challenges/gists{/gist_id}","starred_url":"https://api.github.com/users/honeypot-challenges/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/honeypot-challenges/subscriptions","organizations_url":"https://api.github.com/users/honeypot-challenges/orgs","repos_url":"https://api.github.com/users/honeypot-challenges/repos","events_url":"https://api.github.com/users/honeypot-challenges/events{/privacy}","received_events_url":"https://api.github.com/users/honeypot-challenges/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":5}'
  recorded_at: Wed, 06 Jan 2016 11:38:18 GMT
- request:
    method: put
    uri: https://api.github.com/repos/honeypot-challenges/duksis_fe_001/contents/README.md?access_token=thetokenizator
    body:
      encoding: UTF-8
      string: '{"path":"README.md","message":"Initial commit","committer":{"name":"Honeypot
        Admin","email":"admin@honeypot.io"},"content":"IyBGcm9udEVuZCBjaGFsbGVuZ2UgdjEKCi0tLQoKVGhlIHRhc2sKLS0tLS0tLS0KCllvdSdyZSBhc2tlZCB0byBjcmVhdGUgYSB0ZXN0ZWQsIG1haW50YWluYWJsZSBhbmQgcHJvZHVjdGlvbiByZWFkeQpbUG9rw6ltb24gRW5jeWNsb3BlZGlhXShodHRwOi8vd3d3LnBva2Vtb24uY29tL3VrL3Bva2VkZXgvKSB1c2luZwp0aGUgQVBJcyBwcm92aWRlZCBieSBbcG9rw6lhcGldKGh0dHA6Ly9wb2tlYXBpLmNvKS4KCkZlZWwgZnJlZSB0byB1c2Ugd2hhdGV2ZXIgcHJlcHJvY2Vzc29yLCBmcmFtZXdvcmssIHBhdHRlcm4geW91IHByZWZlcgp0byBjcmVhdGUgdGhlIFBva8OpZGV4IGV4YWN0bHkgYXMgeW91IHNlZSBpbiB0aGUgZGVzaWducyB3ZSBwcm92aWRlZC4[...]
- request:
    method: put
    uri: https://api.github.com/repos/honeypot-challenges/duksis_fe_001/collaborators/duksis?access_token=thetokenizator
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - token thetokenizator
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1452083274'
      X-Oauth-Scopes:
      - delete_repo, gist, repo, user, write:org
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Jan 2016 11:38:19 GMT
recorded_with: VCR 3.0.1
